.list-project {
    margin: 10px 15px 10px 15px;
}

.list-project ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-project .project-content {
    margin-left: 20px;
}

.list-project ul li h5 {
    margin-top: 0px;
}

.list-project .project-resources {
    margin-top: 10px;
}

.list-project .project-resources .subtitle {
    margin-left: -20px;
}

.list-project .project-resources .resc-desc {
    margin-left: 15px;
}