.list-project {
    margin: 10px 15px 10px 15px;
}

.list-project ul {
    list-style-type: none;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
}

.list-project .project-content {
    margin-left: 20px;
}

.list-project ul li h5 {
    margin-top: 0px;
}

.list-project .project-resources {
    margin-top: 10px;
}

.list-project .project-resources .subtitle {
    margin-left: -20px;
}

.list-project .project-resources .resc-desc {
    margin-left: 15px;
}

.list-project .completed {
    font-style: italic;
    color: #66C285;
}

.list-project .dblclick-edit {
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

.editable-bg {
    background-color: #161616;
    border-radius: 6px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#load-success {
    color: green;
}

#loading {
    text-align:center;
}

select#completed-edit option {
    background: #202020;
    color:#fff;
}

select#completed-edit {
    background: #202020;
    font-style: italic;
}
