<div class="offset2 span8">
	<% if (message) { %>
	<p><%= message %></p>
	<% } %>
	<form class="form-horizontal well" action="/login" method="post">
		<fieldset>
			<legend>Admin Log in</legend>
			<div class="control-group">
				<label class="control-label" for="username">Email</label>
				<div class="controls">
					<input id="username" placeholder="Email" type="text" name="username">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input id="password" placeholder="Password" type="password" name="password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox"> Remember me
					</label>
				</div>
			</div>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</fieldset>
	</form>
</div>